#about-me { 
    text-align: center;

    h1{
        font-size: 80px;
    }

    .stars{
        top:-60px;
        margin: auto;
        position: relative;
        width: 100%;
        height: 100%;
    }
}