@mixin app($data){
    height: $data;
    padding: 20px;
    scroll-margin-top: 60px;
}

#home, #contact, #about-me, #form{
    @media ( min-height: 600px) and (min-width: 900px) {
        @include app(calc(100vh - 100px))
    }

    @media ( max-height: 599px) and (min-width: 900px) {
        @include app(500px)
    }

    @media ( min-height: 790px) and (max-width: 899px) {
        @include app(calc(100vh - 100px))
    }

    @media ( max-height: 789px) and (max-width: 899px) {
        @include app(690px)
    }

}

#contact{
    height: 350px;
}

.App > div > div:nth-child(even)  {
    background: white;
}

.App > div > div:nth-child(odd)  {
    color: white;
    background: rgb(11, 24, 80);
}
