%app{
    height: 700px;
    padding: 20px;
    scroll-margin-top: 60px;
}

#about-me, #contact, #links, #resume{
    @extend %app;
}

#contact{
    height: 350px;
}

.App > div > div:nth-child(even)  {
    background: white;
}

.App > div > div:nth-child(odd)  {
    color: white;
    background: rgb(11, 24, 80);
}
