#contact {
    text-align: center;

    .contact_data{
        margin: auto;
        text-align: justify;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

        a{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            color: black;
            text-decoration: none;
        }
        a:hover {
            color: rgb(11, 24, 80)
        }
    }

    @media ( min-width: 900px ) {
        .contact_data {
            width: 600px;
        }
    }

    @media ( max-width: 899px ) {
        .contact_data {
            width: 70%;
        }
    }

    @media ( max-width: 420px ) {
        a{
            display: flex;
            flex-direction: column;
            padding: 15px;
            color: black;
            text-decoration: none;

            p {
                display: none;
            }
        }
        a:hover {
            color: rgb(11, 24, 80)
        }

    }
}
