#form { 
    text-align: center;
    margin: auto;
    position: relative;
     
    .small-window {
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0 3px 100px rgba(0, 0, 0, 0.2);
        overflow: hidden;

        div {
            padding: 20px;

        }

        form {
            margin: auto;
            margin-right: 20px;
            padding: 20px;
            width: 300px;
            height: 400px;
            display: grid;
            grid-template-columns: auto;
            border-radius: 10px;
            background: rgb(46, 46, 46);
            color: white;
            font-size: 20px;

            input {
                margin: auto;
                padding-top: 15px;
                padding-bottom: 15px;
                width: 250px;
                color: white;
                font-size: 15px;
                background: rgb(46, 46, 46);
                border: none;
                outline: none;
                border-bottom: 2px solid white;
            }
            button {
                margin: auto;
                border-radius: 5px;
                border: 3px solid rgb(22, 47, 160);
                color: white;
                background: rgb(46, 46, 46);
                cursor: pointer;
            }
            button:active {
                border: 3px solid rgb(30, 64, 216);

            }
            p{
                color: red;
                margin: 0;
                font-size: 15px;
            }
        }

    }



    @media (min-width: 900px) {
        .small-window{
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -255px 0 0 -430px;
            height: 450px;  
            width: 800px;     


            div{
                width: 300px;
                margin-left: 20px;;
                
                h1{
                    font-size: 40px;
                    text-shadow: black 1px 0 3px;
                }
            }

            form {
                margin-right: 20px;
                width: 300px;
                height: 400px;

                input {
                    width: 250px;
                    font-size: 15px;
                }
                button {
                    width: 250px;
                    height: 40px;
                }
                p{
                    font-size: 15px;
                }
            }
        }
    }
    @media (max-width: 899px){
        .small-window{
            margin: auto;
            height: calc(100% - 60px);  
            width: 80vw;     
            flex-direction: column;

            div{
                width: 60%;
                
                h1{
                    font-size: 60px;
                    text-shadow: black 1px 0 3px;
                }
            }

            form {
                margin: auto;
                width: 60%;
                height: 60%;

                input {
                    width: 90%;
                    font-size: 18px;
                }
                button {
                    width: 90%;
                    height: 40px;
                    font-size: 16px;
                }
                p{
                    font-size: 16px;
                }
            }
        }
    }
}
